@page "/Maintenance/Aplicaciones"

@using Blazored.LocalStorage
@using IntranetLoteriaNacional.Shared.ComponentModels
@using IntranetLoteriaNacional.Shared.Modals
@using IntranetLoteriaNacional.Shared.Constants
@using IntranetLoteriaNacional.Validate
@using LoteriaNacionalDominio
@using static LoteriaNacionalDominio.MantenimientoDTO
@using static LoteriaNacionalDominio.SeguridadDTO

@inject ILocalStorageService _session
@inject NavigationManager _navigation
@inject ProjectHttpClient _httpClient
@inject SweetAlertService Swal

<style>
    .column {
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<article class="art">
    <h1 class="tituloPagina">Aplicaciones</h1>
    <div class="input-group" style="width: 45%;">
        <PhButton Type="ButtonType.Primary" OnClick="New" Size="ButtonSize.Medium" Text="Agregar" />
    </div>
    <PhModal @ref="modalAplicacion">
        <Title>Aplicación</Title>
        <Body>
            <EditForm Model="aplicacionDTOForm">
                <div class="form-group row" style="margin-bottom:2%;">
                    <label for="det" class="col-sm-2 col-form-label col-form-label-lg">Aplicación</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" id="det" @bind-value="aplicacionDTOForm.nombreAplicacion" placeholder="Ingrese el nombre de la aplicación">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:2%;">
                    <div class="col-sm-2">
                        <label for="chek" class="col-sm-2 col-form-label col-form-label-lg">Estado</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-switch col-sm-2 col-form-label col-form-label-lg">
                            <input class="form-check-input" @bind-value="@aplicacionDTOForm.estadoAplicacion" checked="@aplicacionDTOForm.estadoAplicacion" type="checkbox" id="flexSwitchCheckChecked">
                            @if (@aplicacionDTOForm.estadoAplicacion == true)
                            {
                                <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
                            }
                            else
                            {
                                <label class="form-check-label" for="flexSwitchCheckChecked">Inactivo</label>
                            }
                        </div>
                    </div>
                </div>
            </EditForm>
        </Body>
        <Footer>
            <PhButton Type="ButtonType.Success" @onclick="sendData" Size="ButtonSize.Medium" Text="Guardar" isConfirmation="true" />
            <PhButton Type="ButtonType.Danger" @onclick="() => modalAplicacion.CloseModal()" Size="ButtonSize.Medium" Text="Cerrar" />
        </Footer>
    </PhModal>
    <div>
        <br />
        <PhTable @ref="_table" TPost="AplicacionDTO" isRefresh="true" TReturn="AplicacionDTO" Body="new AplicacionDTO()" EndPoint="@EndPointStr"
                 SearchDefinition="@(new[]
                 {
                    "nombreAplicacion",
                    "descripcionEstadoAplicacion"
                 })">
            <PhTableColumnHeaders>
                <PhTableColumn Style="width:40%;" Value="Nombre Aplicación" IsHeader="true" />
                <PhTableColumn Style="width:20%;" Value="Estado de la Aplicación" IsHeader="true" />
            </PhTableColumnHeaders>
            <PhTableColumnValues>
                <PhTableColumn Value="@context.nombreAplicacion" Style="width:40%;" />
                @if (context.estadoAplicacion == true)
                {
                    <PhTableColumn StatusColor="var(--ph-green)" Style="width:20%;" Value="@context.descripcionEstadoAplicacion" />
                }
                else
                {
                    <PhTableColumn StatusColor="var(--ph-red)" Style="width:20%;" Value="@context.descripcionEstadoAplicacion" />
                }
            </PhTableColumnValues>
            <PhTableActions>
                <PhButton Type="ButtonType.Primary" @onclick="@(() => Update(context))" Size="ButtonSize.Small" Text="Editar" />

            </PhTableActions>

        </PhTable>
        <PhNotification @ref="@modalNotification">
        </PhNotification>

    </div>

    <Loading @ref="loader"></Loading>
</article>

@code {
    Loading loader { get; set; } = new();

    private PhTable<AplicacionDTO, AplicacionDTO>? _table = new();
    private PhModal? modalAplicacion { get; set; } = new();
    private PhNotification modalNotification { get; set; } = new();
    AplicacionDTO aplicacionDTOForm = new AplicacionDTO();
    AplicacionDTO AplicacionDTO { get; set; } = null!;
    private string EndPointStr { get; set; } = null!;

    protected override async void OnInitialized()
    {
        EndPointStr = EndPoints.obtenerAplicaciones;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var item = await _session.GetItemAsync<MenuDTO[]>("_userMenu");
            Validate validate = new Validate();
            if (!validate.isValid("./Maintenance/Aplicaciones", item))
            {
                _navigation.NavigateTo("./Home/Error");
            }
            await loader.Close();
        }
    }

    private async Task New()
    {
        aplicacionDTOForm = new AplicacionDTO();
        aplicacionDTOForm.estadoAplicacion = true;
        aplicacionDTOForm.codigoAplicacion = 0;
        await modalAplicacion.NewModal();
    }

    private async Task sendData()
    {
        await loader.Show();
        string mensajeTransaccion = string.Empty;
        string iconoMostrar = string.Empty;

        try
        {
            aplicacionDTOForm.usuarioTransaccion = await _session.GetItemAsync<string>("codigoUsuario");
            aplicacionDTOForm.equipoTransaccion = await _session.GetItemAsync<string>("equipoTransaccion");

            var postRequest = new HttpRequestMessage(HttpMethod.Post, EndPoints.grabarAplicaciones)
                {
                    Content = JsonContent.Create(aplicacionDTOForm)
                };
            var postResponse = await _httpClient.SendAsync(postRequest);
            if (postResponse.IsSuccessStatusCode)
            {
                var returnType = await postResponse.Content.ReadFromJsonAsync<RespuestaDTO>()!;
                if (returnType.CodigoError == 0)
                {
                    await _table!.GetDataAsync();
                    mensajeTransaccion = returnType.MensajeError;
                    iconoMostrar = "success";
                }
                else
                {
                    mensajeTransaccion = returnType.MensajeError;
                    iconoMostrar = "error";
                }
                await modalAplicacion.CloseModal();
                await loader.Close();
            }
            else
            {
                //await modalNotification.ErrorModal("Error de servicio");
                mensajeTransaccion = "Error de servicio";
                iconoMostrar = "error";
                await modalAplicacion.CloseModal();
                await loader.Close();
            }

            await Swal.FireAsync(new SweetAlertOptions
                {
                    ConfirmButtonColor = "var(--ph-skyblue)",
                    Title = "Intranet Lotería Nacional",
                    Text = mensajeTransaccion,
                    Icon = iconoMostrar
                });

        }
        catch (HttpRequestException e)
        {
            await modalNotification.ErrorModal(e.Message.ToString());
            await modalAplicacion.CloseModal();
            await loader.Close();
        }
    }

    private async Task Update(AplicacionDTO aplicacionDTO)
    {
        aplicacionDTOForm = aplicacionDTO;
        await modalAplicacion.UpdateModal();
        StateHasChanged();
    }

}
